/* css */
/******************************************TAG SELECTORS******************************************/
body {
  background-color: #f1fcfc;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #72b5b7;
  border-width: 5px;
  width: 100%
}
h1 {
  color: #40e0d0 ;
}


/******************************************CLASS SELECTORS******************************************/
.broccoli {
  background-color: red;
}

.broccoli:hover {
  background-color: green;
}

.hot-pepper {
  background-color: green;
}

.hot-pepper:hover {
  background-color: red;
}

/******************************************ID SELECTORS******************************************/
#h1-vegetables {
  color: #72b5b7;
}
